body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    color: #000;
  }
  
  .navbar-laravel {
    background-color: #9ef5d2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  
  .navbar-brand {
    color: #000 !important;
  }
  
  .nav-link { 
    color: #000 !important;
  }

nav{
    text-align: center;
    }

nav ul{
    margin: 0 ;
    padding: 0 ;
    }

nav li{
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
    }
    
nav li:not(:last-child){
    border-right:2px solid rgb(187, 185, 185);
    }
    
nav a{
    text-decoration: none;
    color: #333;
    }

nav a.current{ //選択している要素にのみCSSを適用させる
    color: #f04b98;
    border-bottom:2px solid #e9206d;
    }

nav a:hover{ //リンクにカーソルなどが乗った際のスタイル
    columns: #f7cb4d;;
    border-bottom:2px solid #f7cb4d;
    }

  .table-dark {
    color: #fff;
  }
  
  .list-group-item {
    border-color: #fff;
    background-color: #000;
  }
  
  .login-box {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .login-header {
    background-color: rgba(0, 0, 0, 0.25)
  }
  
  .login-body {
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .category {
   padding: 0;
   position: relative; /*位置の指定*/
  }
  
  .categorypage {
   border-left: solid 8px orange;/*左側の線*/
   background: whitesmoke;/*背景色*/
   margin-bottom: 5px;/*下のバーとの余白*/
   line-height: 1.5; 
   border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
   padding: 0.5em;
   list-style-type: none!important;
  }
  
  .categorylink {
   position: relative;
   right: 130px; /*位置を指定　右側に130px分の空白*/
   color: black;
  }
  